<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tcs.AdTDA.scripts.OrangeHRMForgotPWD"/>
      <class name="com.tcs.AdTDA.scripts.TestScript"/>
      <class name="com.tcs.AdTDA.scripts.BaseClass"/>
      <class name="com.tcs.AdTDA.scripts.OrangeHRMLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
